.container {
    font-family: Arial, sans-serif;
  }
  
  .password-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  input[type="password"] {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 10px;
  }
  
  .show-password-button{
    position: absolute;
    top: 50%;
    right: 38%;
    height: 30px;
    transform: translateY(-52%);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
.message {
  font-size: 10px;
  padding-top: 0px;

}